[Unit]
Description=Walkability DB and uploads backup
OnFailure=walkability-backup-failure.service

[Service]
Type=oneshot
ExecStart=/home/karankinariwala/bengaluru-walkability-public-audit/backup/backup.sh
User=root
StandardOutput=journal
StandardError=journal
